[global]
# Router login setting
router_host = "192.168.1.1"
router_username = "REPLACE_IT_WITH_ACTUAL_USERNAME"
router_password = "REPLACE_IT_WITH_ACTUAL_PASSWORD"

# Webapp login setting
token_username = "REPLACE_IT_WITH_ANYTHING_YOU_WANT"
token_password = "REPLACE_IT_WITH_ANYTHING_YOU_WANT"

# Database filename
db_file = "known.db"

# Others
port = 9000
