<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Pantau Wifi Rumah</title>
    <link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
  </head>
  <body>
    <h1>Perangkat Tersambung</h1>
    {{#if items}}
    <table>
      <tr><th>MAC</th><th>Pemilik</th></tr>
      {{#each items}}
        <tr>
          <td>{{mac}}</td>
          <td>{{#if owner}}{{owner}}{{else}}-{{/if}}</td>
        </tr>
      {{/each}}
    </table>
    {{else}}
    <p>Tidak ada perangkat tersambung</p>
    {{/if}}

    <form action="/logout" method="post" accept-charset="utf-8">
      <input type="submit" name="logout" id="logout" value="logout" />
    </form>
  </body>
</html>
